:root {
    --text-primary: rgb(172, 172, 172);
    --text-secondary: rgb(255, 255, 255);
    --text-hover: rgb(250,250,250);
    --text-size-1: 5px;
    --text-size-2: 10px;
    --text-size-3: 15px;
    --text-size-4: 20px;
    --text-size-5: 25px;
    --text-size-6: 30px;
    --text-size-7: 35px;
    --text-size-8: 40px;
    --text-size-9: 45px;
    --text-size-10: 50px;
}
* {
    color: var(--text-primary);
    letter-spacing: 0.1em;
    font-family: 'Fira Sans Condensed',sans-serif;
    text-decoration: none;
}
.txt-1 {
    font-size: var(--text-size-1);
}
.txt-2 {
    font-size: var(--text-size-2);
}
.txt-3 {
    font-size: var(--text-size-3);
}
.txt-4 {
    font-size: var(--text-size-4);
}
.txt-5 {
    font-size: var(--text-size-5);
}
.txt-6 {
    font-size: var(--text-size-6);
}
.txt-7 {
    font-size: var(--text-size-7);
}
.txt-8 {
    font-size: var(--text-size-8);
}
.txt-9 {
    font-size: var(--text-size-9);
}
.txt-10 {
    font-size: var(--text-size-10);
}