@import url("./spacing.css");
@import url("./text.css");
@import url("./color.css");
* {
    margin: 0px;
}
.body_2 {
    width: 100%;
    height: 82%;
    display: flex;
    flex-direction: column;
}